<figure class="figure {{ with .Title }}figure--with-caption{{ end }}">
    {{ $resource := (.Page.Resources.GetMatch .Destination) }}
    {{ with $resource }}
        {{ $webpImage := .Convert "webp" }}
        <img
            src="{{ $webpImage.Permalink }}"
            width="{{ $webpImage.Width }}"
            height="{{ $webpImage.Height }}"
            alt="{{ $.Text }}"
            {{ with $.Title}} title="{{ . }}"{{ end }}
            class="figure__image {{ with $.Title }}figure__image--with-caption{{ end }}" />
    {{ else }}
        <img
            src="{{ .Destination | safeURL | absURL }}"
            alt="{{ .Text }}"
            {{ with .Title}} title="{{ . }}"{{ end }}
            class="figure__image {{ with .Title }}figure__image--with-caption{{ end }}" />
    {{ end }}
    {{ with .Title }}
        <figcaption class="figure__caption">
            {{- . -}}
        </figcaption>
    {{ end }}
</figure>
